{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "plugins": ["react", "eslint-plugin-react"],
  "rules": {
    "no-undef": "warn",
    "no-empty": "warn",
    "no-async-promise-executor": "warn",
    "no-unused-vars": 1,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2

    // "react-hooks/rules-of-hooks": "error",
    // "react-hooks/exhaustive-deps": "warn"
  }
}
