button.ant-btn.navigation-menu-btn {
  background: transparent;
  margin-left: 0.8rem;
  border: none;
  box-shadow: none;
}

.navigation-title {
  text-decoration: none;
  margin: 0 auto;
  & a {
    color: darkslategray;
  }
}

.navigation-header-links {
  display: none;
}

.navigation-drawer-links {
  height: 100%;
}

@media (min-width: 768px) {
  button.ant-btn.navigation-menu-btn {
    display: none;
  }

  .navigation-header-links {
    display: block;
  }
  .navigation-title {
    margin-left: 2rem;
  }
}
