.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ant-btn {
  border-width: 0px;
}

.nav-links a {
  border: 0px solid transparent;
  color: #292929;
  text-decoration: none;
}

.nav-links li {
  margin: 0 0.2rem;
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
  }

  .ant-btn {
    border-width: 1px;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
    border: 1px solid transparent;
  }
}
